index
    display: flex
    position: fixed
    top: 0
    left: 0
    right: 0
    bottom: 0

app
    flex: 1 1 80%
    text-align: center
    font-size: 2rem
    background: white
    z-index: -1
    background: #eaeaea

    & > header
        background: #333
        color: white
        & > h1
            display: inline-block
            margin-bottom: .5rem
            font-weight: bold

    & > main
        padding: .5rem
        & > section
            display: inline-block


    & > main.flex_list
        display: flex
        flex-wrap: wrap
        justify-content: space-around
        align-items: center

        & > a
            margin: .5rem


a.button_link
    width: 200px
    text-decoration: none
    word-wrap: break-word
    background: #333
    color: white
    padding: .5rem
    border-radius: 20px
    transition: all .2s ease-in-out

    &:hover
        transform: scale(1.1)
        box-shadow: 3px 3px 3px 4px rgba(0, 0, 0, 0.4)
