div.wrap
    display: flex
    position: fixed
    top: 0
    left: 0
    right: 0
    bottom: 0

app
    flex: 1 1 80%
    padding: .5rem
    text-align: center
    color: #666
    font-size: 2rem

    & > h1
        display: inline-block
        margin-bottom: .5rem
        font-weight: bold
        border-bottom: 1px solid #000
    & > p
        word-wrap: break-word
