nav
div.aru
    background: #333
    box-shadow: 3px 3px 3px 4px rgba(0, 0, 0, 0.4)
    text-align: center
    box-sizing: border-box

nav
    transition: width .2s
    width: 100px

    &:hover
        width: 150px

    & > a
        width: 100%
        display: block
        box-sizing: border-box
        padding: 1rem
        color: white
        text-decoration: none
        background: #444

        &.selected
            background: #5F8DA2

div.aru
    flex: 1 1 10%
    & > img
        background: #333
    & > p
        font-size: 20px
        color: white
        background: #5F8DA2
        padding: .5rem
        margin: .5rem
        border-radius: 20px
